In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import username
from config import password

### Store CSVs into DataFrame

In [2]:
csv_file_1 = "Resources/netflix_titles.csv"
netflix_titles = pd.read_csv(csv_file_1)
netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [3]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [4]:
csv_file_2 = "Resources/the_emmy_awards.csv"
emmy_awards = pd.read_csv(csv_file_2)
emmy_awards.head()

,id,year,category,nominee,staff,company,producer,win
0,1,2019,Outstanding Character Voice-Over Performance,The Simpsons,"Hank Azaria, as Moe, Carl, Duffman, Kirk",FOX,Gracie Films in association with 20th Century ...,False
1,2,2019,Outstanding Character Voice-Over Performance,Family Guy,"Alex Borstein, as Lois Griffin, Tricia Takanawa",FOX,20th Century Fox Television,False
2,3,2019,Outstanding Character Voice-Over Performance,When You Wish Upon A Pickle: A Sesame Street S...,"Eric Jacobson, as Bert, Grover, Oscar",HBO,Sesame Street Workshop,False
3,4,2019,Outstanding Character Voice-Over Performance,F Is For Family,"Kevin Michael Richardson, as Rosie",Netflix,Wild West Television in association with Gaumo...,False
4,5,2019,Outstanding Production Design For A Narrative ...,Escape At Dannemora,"Mark Ricker, Production Designer; James Truesd...",Showtime,"Red Hour, Busyhands, The White Mountain Compan...",False

In [27]:
csv_file_3 = "Resources/tv_shows.csv"
tv_ratings = pd.read_csv(csv_file_3)
tv_ratings.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [5]:
emmy_awards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21503 entries, 0 to 21502
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        21503 non-null  int64
 1   year      21503 non-null  int64
 2   category  21503 non-null  object
 3   nominee   21347 non-null  object
 4   staff     21445 non-null  object
 5   company   21139 non-null  object
 6   producer  7931 non-null   object
 7   win       21503 non-null  bool
dtypes: bool(1), int64(2), object(5)
memory usage: 1.2+ MB

### Clean DataFrames

In [6]:
# For netflix_titles:
# Filter netflix data to be TV shows only
netflix_titles_tv = netflix_titles[netflix_titles['type']=='TV Show']

# Filter netflix data to be USA only
netflix_titles_tv_usa = netflix_titles_tv[netflix_titles_tv['country']=='United States']

# Only include title, release year, rating
netflix_titles_df = netflix_titles_tv_usa[["show_id", "title", "release_year", "rating"]].copy()

# drop NaN values
netflix_titles_df = netflix_titles_df.dropna()

# look at cleaned dataframe
#netflix_titles_df.head()
netflix_titles_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705 entries, 26 to 7755
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       705 non-null    object
 1   title         705 non-null    object
 2   release_year  705 non-null    int64
 3   rating        705 non-null    object
dtypes: int64(1), object(3)
memory usage: 27.5+ KB

In [20]:
# For emmy_awards:
# only include year, category, company, win
emmy_awards_df = emmy_awards[["id","title", "year", "nominee", "company", "win"]].copy()

# rename "id" to "award_id"
emmy_awards_df = emmy_awards_df.rename(columns = {"id": "award_id"})

# drop NaN
emmy_awards_df = emmy_awards_df.dropna()

# look at cleaned dataframe
#emmy_awards_df.head(50)
emmy_awards_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20983 entries, 0 to 21501
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   award_id  20983 non-null  int64
 1   year      20983 non-null  int64
 2   category  20983 non-null  object
 3   nominee   20983 non-null  object
 4   company   20983 non-null  object
 5   win       20983 non-null  bool
dtypes: bool(1), int64(2), object(3)
memory usage: 1004.1+ KB

In [32]:
# For tv_ratings:
# only include year, category, company, win
tv_ratings_df = tv_ratings[["Title", "IMDb", "Rotten Tomatoes"]].copy()

# drop NaN
tv_ratings_df = tv_ratings_df.dropna()

# drop percentage symbol from Rotten Tomatoes rating
tv_ratings_df['Rotten Tomatoes'] = (tv_ratings_df['Rotten Tomatoes'].str.strip('%').astype(int))

# look at cleaned dataframe
tv_ratings_df.head(50)
#tv_ratings_df.info()

                               Title  IMDb  Rotten Tomatoes
0                       Breaking Bad   9.5               96
1                    Stranger Things   8.8               93
2                        Money Heist   8.4               91
3                           Sherlock   9.1               78
4                   Better Call Saul   8.7               97
5                         The Office   8.9               81
6                       Black Mirror   8.8               83
7                       Supernatural   8.4               93
8                     Peaky Blinders   8.8               92
9         Avatar: The Last Airbender   9.2              100
10                  The Walking Dead   8.2               81
11                              Dark   8.7               94
12                             Ozark   8.4               81
13                   Attack on Titan   8.8               94
14                            Narcos   8.8               89
15  Fullmetal Alchemist: Brotherhood   9.1              100
16                         Community   8.5               88
17                        Mindhunter   8.6               96
18              Parks and Recreation   8.6               93
19                            Dexter   8.6               72
20                Marvel's Daredevil   8.6               92
21                       The Witcher   8.3               67
22                        Twin Peaks   8.8               89
23                     One-Punch Man   8.8              100
24                         Outlander   8.4               91
25                    House of Cards   8.7               78
26                         Shameless   8.6               85
27                    The Good Place   8.2               97
28                      The Haunting   8.7               93
29                     The Blacklist   8.0               91
30                         The Flash   7.7               89
31                  The Last Kingdom   8.4               91
32                           Mad Men   8.6               94
33                           Lucifer   8.2               87
34           Orange Is the New Black   8.1               90
35                    Grey's Anatomy   7.6               83
36      The End of the F***ing World   8.1               93
37              Arrested Development   8.7               75
38               The Vampire Diaries   7.7               85
39                         The Crown   8.7               89
40                           The 100   7.7               92
41                  When They See Us   8.9               96
42       How to Get Away with Murder   8.1               88
43                        After Life   8.5               70
44                             Elite   7.6               97
45                   BoJack Horseman   8.7               93
46                 Never Have I Ever   8.0               97
47                    Penny Dreadful   8.2               91
48   Marvel's Agents of S.H.I.E.L.D.   7.5               94
49                        Dead to Me   8.1               91

### Connect to local database after running python script to create database named 'project_db' in postgres

In [12]:
rds_connection_string = f"{username}:{password}@localhost:5432/project_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [13]:
engine.table_names()

['netflix_titles', 'emmy_awards']

### Use pandas to load csv converted DataFrame into database

In [33]:
#netflix_titles_df.to_sql(name='netflix_titles', con=engine, if_exists='append', index=False)
#emmy_awards_df.to_sql(name='emmy_awards', con=engine, if_exists='replace', index=False)
tv_ratings_df.to_sql(name='tv_ratings', con=engine, if_exists='replace', index=False)

### Confirm data has been added by querying tables
* NOTE: can also check using pgAdmin

In [17]:
pd.read_sql_query('select * from netflix_titles', con=engine).head()

  show_id                               title release_year rating
0     s27                            (Un)Well         2020  TV-MA
1     s30                            #blackAF         2020  TV-MA
2     s54                          100 Humans         2020  TV-14
3     s64                      13 Reasons Why         2020  TV-MA
4     s65  13 Reasons Why: Beyond the Reasons         2019  TV-MA

In [22]:
pd.read_sql_query('select * from emmy_awards', con=engine).head()

,award_id,year,category,nominee,company,win
0,1,2019,Outstanding Character Voice-Over Performance,The Simpsons,FOX,False
1,2,2019,Outstanding Character Voice-Over Performance,Family Guy,FOX,False
2,3,2019,Outstanding Character Voice-Over Performance,When You Wish Upon A Pickle: A Sesame Street S...,HBO,False
3,4,2019,Outstanding Character Voice-Over Performance,F Is For Family,Netflix,False
4,5,2019,Outstanding Production Design For A Narrative ...,Escape At Dannemora,Showtime,False

In [34]:
pd.read_sql_query('select * from tv_ratings', con=engine).head()

              Title  IMDb  Rotten Tomatoes
0      Breaking Bad   9.5               96
1   Stranger Things   8.8               93
2       Money Heist   8.4               91
3          Sherlock   9.1               78
4  Better Call Saul   8.7               97